/* Geral */
body, h1, h2, p, input, textarea {
    margin: 0;
    font-family: Roboto ;
}

h2 {
    font-size: 30px;
}

/* Navbar */
#id-navbar {
    background-color: red;
    color: #fff;
    padding: 0 15px;
    height: 60px;
}

#id-navbar h2, #id-navbar ul, #id-navbar-list li, #id-navbar nav {
    display: inline-block;
}

#id-navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#id-navbar img {
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
}

#id-navbar nav {
    float: right;
}

#id-navbar ul {
    margin-top: 22px;
}

#id-navbar li {
    margin-top: 0 10px;
}

#id-navbar-list li a {
    text-decoration: none;
    color:#fff;
}

#id-navbar-list li a:hover {
    border-bottom: 1px solid #fff;
}

/* Banner */
#id-main-banner {
    height: 70vh;
    background-image: url('../img/bg-projeto.jpg');
    background-size: cover;
    padding-top: 10vh ;
}

#id-banner-info {
    width: 40%;
    margin-right: auto ;
    margin-left: auto;
    text-align: center;
    color: #fff;
    padding: 1%;
}

#id-banner-info img {
    height: 120px;
    border-radius: 50%;
    background-color: #ed1e24;
    margin-top: 30px;
    margin-bottom: 30px;
}

#id-banner-info p {
    background-color:  #5408ac;
    font-weight: bold;
    width: 200px;
    margin-right: auto ;
    margin-left: auto;
    padding: 15px;
}

/* About */
#id-about-section {
    text-align: center;
    background-color:  #67e457;;
    color: #fff;
    padding-top: 30px;
    height: 350px;
}

#id-about-section h2 {
    margin-bottom: 20px;
}
#id-about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height:  30px;
}

/* Skill flex-box */
#id-skills-section {
    margin-top: -100px ;
    background-color: #c2c50f;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid rgb(236, 20, 20);
    border-radius: 10px;
}

#id-skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.skills-container h3 {
    color: #ed1e24;
    font-size: 20px;
}

.skills-container p {
    line-height: 5px;
    font-size: 15px;
  }
  
.skills-container img {
    height: 60px;
    margin-bottom: 25px;
    border-top: 1px solid #ED1E24;
    border-left: 1px solid #ED1E24;
    border-bottom: 4px solid #ED1E24;
    border-right: 4px solid #ED1E24;
}

.skills-container .subtitle {
    font-weight: bold;
    color: #ED1E24;
    margin-top: 50px;
    margin-bottom: 15px;;
  }

  /* jobs */
#id-jobs-section {
    text-align: center;
    padding-top: 50px;
  }

  #id-jobs-section h2 {
    color: #ED1E24;
    margin-bottom: 30px;
  }
  
  #id-jobs-section p {
    margin-bottom: 50px;
  }
  
  #id-jobs-section a {
    font-weight: bold;
    color: #ED1E24;
  }

  .job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid #ED1E24;
    border-bottom: 2px solid #ED1E24;
  }

  .proj1 {
    background-image: url('../img/proj1.jpg');
  }
  
  .proj2 {
    background-image: url('../img/proj2.jpg');
  }
  
  .proj3 {
    background-image: url('../img/proj3.jpg');
  }

  /* footer */
footer {
    padding: 50px 0;
    background-color: #ED1E24;
    color: #FFF;
    text-align: center;
  }
  
  footer img {
    height: 50px;
    margin: 30px 0;
  }
  
  footer p {
    margin-top: 25px;
  }
  
  footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
  
  footer .detail {
    font-weight: bold;
  }
  
  /* Responsivo  Mídia Query*/
  @media(max-width: 450px) {
    
  }